@charset "UTF-8";

/* Incorporando as fontes no CSS*/

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

/*Criando váriáveis para as cores da paleta do projeto*/

:root {
    --cor0: #F21326;
    --cor1: #6d070f;
    --cor2: #C7CFD9;
    --cor3: #656667;
    
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-assassins: "Cinzel", serif;
}

/*Fazendo configurações globais no CSS*/

* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

/*Começando as tags e códigos*/


body {
    background-color: var(--cor2);
    font-family: var(--fonte-padrao);
}

a.externo::after {
    content: ' \2197';
}

header {
    min-height: 50px;
    text-align: center;
    padding-top: 20px;
    background-image: url(../imagens/topo.jpg);
    position: fixed;
    z-index: 1000;
    width: 100%;
    }

header > p {
    font-family: var(--font-assassins);
    font-size: 1.2em;
    font-weight: bold;
    color: rgb(0, 0, 0);
    max-width: 800px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 20px;
    margin: auto;
    padding-bottom: 10px;
}

nav {
    background-color: var(--cor0);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.24);
    text-align: center;
    }

nav > a {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.3s;
}

nav > a:hover {
    background-color: var(--cor1);
    color: white;
}

main {
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    margin-bottom: 30px;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.335);
    border-radius: 0 0 10px 10px;
}

main h1 {
    color: var(--cor1);
    font-family: var(--font-assassins);
    font-weight: bolder;
    font-size: 1.5em;
}

main h2 {
    color: white;
    font-family: var(--font-assassins);
    font-size: 1.6em;
    font-weight: bolder;
    background-image: linear-gradient(to right, var(--cor1), var(--cor0));
    text-indent: 8px;
    padding: 5px;
    border-bottom: 2px solid var(--cor2);
}

#resumo {
    margin: 180px 0px 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 1.8em;
}

main p {
    margin: 20px 0px 5px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 1.8em;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    font-size: 1.8vw;
}

section > p {
    padding-bottom: 2em;
}

section.imagem {
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.27);
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    height: 400px;
}

section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.652);
    text-shadow: 1px 1px 0px black;
}
section#img01 {
    background-image: url(../imagens/imagem-ac01.jpg);
}

section#img02 {
    background-image: url(../imagens/imagem-ac02.jpg);
}

section#img03 {
    background-image: url(../imagens/imagem-ac03.jpg);
}

div.video {
    background-color: var(--cor5);
    margin: 0 -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.5%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor2);
    padding: 10px;
    border-radius: 8px;
}

aside > h3 {
    background-color: var(--cor1);
    color: white;
    padding: 8px;
    margin: -10px -10px 0 -10px;
    border-radius: 10px 10px 0 0;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.234);
}

aside > p {
    color: var(--cor1);
    text-transform: uppercase;
    font-weight: bolder;
    text-align: left;
}

aside > ul {
    list-style-type: '\2694\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

footer {
    background-color: var(--cor0);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 39px;
    height: 5px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor2);
}